<!DOCTYPE html>
<html>
  <head>
    <title>VinylAddicta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to "VINYL ADDICTA", root_path %>
      </div>
    </header>
    <%= notice %>
    <%= alert %>
    <% if user_signed_in? %>
      <%= link_to current_user.user_name, user_path(current_user.id) %>
      <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Are you new?', new_user_registration_path %> <br>
      <%= link_to 'LOG-IN', new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
